performance/
*.pyc
test/test2/galleries.json
test/test2/dailytest.py
test/test1/test_22.py
test/test1/test_11.py
test/test1/cc/son.py
test/test1/cc/picID.xlsx
test/test1/cc/handle_excel.py
test/test1/cc/father.py
test/__init__.py
ios_test/src/AndroidTestByPython-master/README.md
ios_test/src/AndroidTestByPython-master/LICENSE
ios_test/src/AndroidTestByPython-master/.idea/workspace.xml
ios_test/src/AndroidTestByPython-master/.idea/vcs.xml
ios_test/src/AndroidTestByPython-master/.idea/modules.xml
ios_test/src/AndroidTestByPython-master/.idea/misc.xml
ios_test/src/AndroidTestByPython-master/.idea/inspectionProfiles/Project_Default.xml
ios_test/src/AndroidTestByPython-master/.idea/AndroidTestByPython.iml
ios_test/src/AndroidTestByPython-master/.gitignore
ios_test/src/AndroidTestByPython-master/.gitattributes
ios_test/src/AndroidTestByPython-master/.DS_Store
ios_test/src/.DS_Store
ios_test/.settings/org.eclipse.core.resources.prefs
ios_test/.pydevproject
ios_test/.project
ios_test/.DS_Store
iOS-perf-master/run.py
iOS-perf-master/requirements.txt
iOS-perf-master/mysql.py
iOS-perf-master/iOS-perf-3x.gif
iOS-perf-master/grafana.py
iOS-perf-master/docker-compose.yml
iOS-perf-master/docker-compose-pi.yml
iOS-perf-master/README.md
ios_test/src/py-ios-device-main/demo/instrument_demo/energy.py
ios_test/src/py-ios-device-main/demo/instrument_demo/deviceinfo.py
ios_test/src/py-ios-device-main/demo/instrument_demo/coreprofilesessiontap_parse.py
ios_test/src/py-ios-device-main/demo/instrument_demo/coreprofilesessiontap.py
ios_test/src/py-ios-device-main/demo/instrument_demo/channel.py
ios_test/src/py-ios-device-main/demo/instrument_demo/applictionListing.py
ios_test/src/py-ios-device-main/demo/instrument_demo/activity.py
ios_test/src/py-ios-device-main/demo/instrument_demo/__init__.py
ios_test/src/py-ios-device-main/demo/installation_proxy.py
ios_test/src/py-ios-device-main/demo/crash_log.py
ios_test/src/py-ios-device-main/demo/afc.py
ios_test/src/py-ios-device-main/demo/__init__.py
ios_test/src/py-ios-device-main/__init__.py
ios_test/src/py-ios-device-main/README_CN.md
ios_test/src/py-ios-device-main/README.md
ios_test/src/py-ios-device-main/LICENSE
ios_test/src/py-ios-device-main/.DS_Store
ios_test/src/AndroidTestByPython-master/launchTime/traffic.py
ios_test/src/AndroidTestByPython-master/launchTime/power.py
ios_test/src/AndroidTestByPython-master/launchTime/meminfo
ios_test/src/AndroidTestByPython-master/launchTime/mem.py
ios_test/src/AndroidTestByPython-master/launchTime/launchTime.py
ios_test/src/AndroidTestByPython-master/launchTime/cpuStatus.py
ios_test/src/AndroidTestByPython-master/launchTime/__init__.py
ios_test/src/py-ios-device-main/ios_device/servers/afc.py
ios_test/src/py-ios-device-main/ios_device/servers/__init__.py
ios_test/src/py-ios-device-main/ios_device/servers/Instrument.py
ios_test/src/py-ios-device-main/ios_device/servers/Installation.py
ios_test/src/py-ios-device-main/ios_device/py_ios_device.py
ios_test/src/py-ios-device-main/ios_device/main.py
ios_test/src/py-ios-device-main/ios_device/cli/mobile.py
ios_test/src/py-ios-device-main/ios_device/cli/instruments.py
ios_test/src/py-ios-device-main/ios_device/cli/cli.py
ios_test/src/py-ios-device-main/ios_device/cli/base.py
ios_test/src/py-ios-device-main/ios_device/cli/__init__.py
ios_test/src/py-ios-device-main/ios_device/__init__.py
ios_test/src/py-ios-device-main/doc/使用文档.md
ios_test/src/py-ios-device-main/demo/syslog.py
ios_test/src/py-ios-device-main/demo/screenshotr.py
ios_test/src/py-ios-device-main/demo/pcapd.py
ios_test/src/py-ios-device-main/demo/mobile_config.py
ios_test/src/py-ios-device-main/demo/instrument_demo/xcuitest.py
ios_test/src/py-ios-device-main/demo/instrument_demo/sysmontap.py
ios_test/src/py-ios-device-main/demo/instrument_demo/networking.py
ios_test/src/py-ios-device-main/demo/instrument_demo/netstatPID.py
ios_test/src/py-ios-device-main/demo/instrument_demo/mobileNotifications.py
ios_test/src/py-ios-device-main/demo/instrument_demo/launchAPP.py
ios_test/src/py-ios-device-main/demo/instrument_demo/graphics.py
ios_test/src/py-ios-device-main/ios_device/util/plist_service.py
ios_test/src/py-ios-device-main/ios_device/util/lockdown.py
ios_test/src/py-ios-device-main/ios_device/util/kperf_data.py
ios_test/src/py-ios-device-main/ios_device/util/kc_data.py
ios_test/src/py-ios-device-main/ios_device/util/forward.py
ios_test/src/py-ios-device-main/ios_device/util/exceptions.py
ios_test/src/py-ios-device-main/ios_device/util/dtx_msg.py
ios_test/src/py-ios-device-main/ios_device/util/constants.py
ios_test/src/py-ios-device-main/ios_device/util/ca.py
ios_test/src/py-ios-device-main/ios_device/util/bpylist2.py
ios_test/src/py-ios-device-main/ios_device/util/api_util.py
ios_test/src/py-ios-device-main/ios_device/util/__init__.py
ios_test/src/py-ios-device-main/ios_device/servers/testmanagerd.py
ios_test/src/py-ios-device-main/ios_device/servers/syslog.py
ios_test/src/py-ios-device-main/ios_device/servers/spring_board.py
ios_test/src/py-ios-device-main/ios_device/servers/screenshotr.py
ios_test/src/py-ios-device-main/ios_device/servers/pcapd.py
ios_test/src/py-ios-device-main/ios_device/servers/os_trace.py
ios_test/src/py-ios-device-main/ios_device/servers/mc_install.py
ios_test/src/py-ios-device-main/ios_device/servers/image_mounter.py
ios_test/src/py-ios-device-main/ios_device/servers/house_arrest.py
ios_test/src/py-ios-device-main/ios_device/servers/dvt.py
ios_test/src/py-ios-device-main/ios_device/servers/diagnostics_relay.py
ios_test/src/py-ios-device-main/ios_device/servers/crash_log.py
ios_test/src/taobao-iphone-device-main/assets/tidevice-logo.png
ios_test/src/taobao-iphone-device-main/assets/memorylog.txt
ios_test/src/taobao-iphone-device-main/assets/fpslog.txt
ios_test/src/taobao-iphone-device-main/assets/cpulog.txt
ios_test/src/taobao-iphone-device-main/assets/__init__.py
ios_test/src/taobao-iphone-device-main/README_EN.md
ios_test/src/taobao-iphone-device-main/README.md
ios_test/src/taobao-iphone-device-main/PROTOCOL.md
ios_test/src/taobao-iphone-device-main/MANIFEST.in
ios_test/src/taobao-iphone-device-main/LICENSE
ios_test/src/taobao-iphone-device-main/DEVELOP.md
ios_test/src/taobao-iphone-device-main/.gitignore
ios_test/src/taobao-iphone-device-main/.github/workflows/publish-to-test-pypi.yml
ios_test/src/taobao-iphone-device-main/.DS_Store
ios_test/src/py-ios-device-main/test/test4.py
ios_test/src/py-ios-device-main/test/__init__.py
ios_test/src/py-ios-device-main/setup.py
ios_test/src/py-ios-device-main/requirements.txt
ios_test/src/py-ios-device-main/pypi.sh
ios_test/src/py-ios-device-main/ios_device/util/variables.py
ios_test/src/py-ios-device-main/ios_device/util/utils.py
ios_test/src/py-ios-device-main/ios_device/util/usbmux.py
ios_test/src/py-ios-device-main/ios_device/util/service_info.py
ios_test/src/py-ios-device-main/ios_device/util/plistlib.py
ios_test/src/taobao-iphone-device-main/tidevice/_perf.py
ios_test/src/taobao-iphone-device-main/tidevice/_ipautil.py
ios_test/src/taobao-iphone-device-main/tidevice/_instruments.py
ios_test/src/taobao-iphone-device-main/tidevice/_installation.py
ios_test/src/taobao-iphone-device-main/tidevice/_imagemounter.py
ios_test/src/taobao-iphone-device-main/tidevice/_hexdump.py
ios_test/src/taobao-iphone-device-main/tidevice/_device.py
ios_test/src/taobao-iphone-device-main/tidevice/__main__.py
ios_test/src/taobao-iphone-device-main/tidevice/__init__.py
ios_test/src/taobao-iphone-device-main/tests/test_ipautil.py
ios_test/src/taobao-iphone-device-main/tests/runtest.sh
ios_test/src/taobao-iphone-device-main/tests/conftest.py
ios_test/src/taobao-iphone-device-main/setup.py
ios_test/src/taobao-iphone-device-main/setup.cfg
ios_test/src/taobao-iphone-device-main/scripts/uitest_screenrecord.py
ios_test/src/taobao-iphone-device-main/scripts/run-usbmuxd-proxy.sh
ios_test/src/taobao-iphone-device-main/scripts/plistdump-tcp-proxy.py
ios_test/src/taobao-iphone-device-main/scripts/ipa_sign.sh
ios_test/src/taobao-iphone-device-main/requirements.txt
ios_test/src/taobao-iphone-device-main/release.sh
ios_test/src/taobao-iphone-device-main/examples/read_properties.py
ios_test/src/taobao-iphone-device-main/examples/get_bundle_id_from_ipa.py
ios_test/src/taobao-iphone-device-main/assets/性能结果抓取.py
ios_test/src/taobao-iphone-device-main/assets/性能2.py
test/test2/old.json
test/test2/new.json
test/test2/gallery.json
notebook/bar_datazoom_slider.html
ios_test/src/taobao-iphone-device-main/tidevice/struct2.py
ios_test/src/taobao-iphone-device-main/tidevice/requests_usbmux.py
ios_test/src/taobao-iphone-device-main/tidevice/plistlib2.py
ios_test/src/taobao-iphone-device-main/tidevice/exceptions.py
ios_test/src/taobao-iphone-device-main/tidevice/bplist.py
ios_test/src/taobao-iphone-device-main/tidevice/_wdaproxy.py
ios_test/src/taobao-iphone-device-main/tidevice/_version.py
ios_test/src/taobao-iphone-device-main/tidevice/_utils.py
ios_test/src/taobao-iphone-device-main/tidevice/_usbmux.py
ios_test/src/taobao-iphone-device-main/tidevice/_sync.py
ios_test/src/taobao-iphone-device-main/tidevice/_ssl.py
ios_test/src/taobao-iphone-device-main/tidevice/_safe_socket.py
ios_test/src/taobao-iphone-device-main/tidevice/_relay.py
ios_test/src/taobao-iphone-device-main/tidevice/_proto.py
ColorInterfaceRefactor/color_interface.html
APP_preformance/连续填色50张debug版本.html
APP_preformance/tcl20211110.html
APP_preformance/tc_mem20111115.html
APP_preformance/tc_20211126.html
APP_preformance/pro_20211202paintAD.html
APP_preformance/mysql-installer-community-8.0.26.0.msi
APP_preformance/APP_preformance.rar
APP_preformance/pro_20211202.html
