{% extends 'layout.html' %}
{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">新增部门</div>
            <div class="panel-body">
                
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label>部门名称</label>
                      <input type="text" class="form-control" placeholder="部门名称" name="title">
                    </div>
                    
                    <button type="submit" class="btn btn-success">提 交</button>
                  </form>
            </div>
          </div>
    
    </div>

{% endblock %}
