<!--
 * @Author: your name
 * @Date: 2022-04-06 15:41:00
 * @LastEditTime: 2022-04-06 18:26:17
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \APITest\MyApp\templates\home.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
	<!--awesome font include-->
        <link type="text/css" rel="stylesheet" href="/static/201908059658/assets/css/font-awesome.min.css" />
        <!--include plugin css--> 
        <link type="text/css" rel="stylesheet" href="/static/201908059658/src/jquery-rvnm.css" />
</head>

<body>


<div style="background: linear-gradient(to bottom, #585856, #7bb8f1);text-align: center;border-radius: 5px;box-shadow: 4px 4px 10px #181818;margin-left: 250px;margin-right: 30px;">
    <h1>欢迎 {{ username }} 使用 接口测试平台</h1>
    <h3>welcome to ApiTestPlatform</h3>
</div>

<div style="margin-left: 250px;margin-right: 30px;text-align: center">
    <h2>使用说明：</h2><br>
    1.选择项目<br>
    2.选择待测试接口<br>
    3.点击测试<br><br>
</div>
<!--<div style="text-align: center;background-color: black;width: 1000px; height: 200px;">-->
<!--<h1>我是home.html</h1>-->
<!--</div>-->

</body>

</html>
