<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
	<!--awesome font include-->
        <link type="text/css" rel="stylesheet" href="/static/201908059658/assets/css/font-awesome.min.css" />
        <!--include plugin css--> 
        <link type="text/css" rel="stylesheet" href="/static/201908059658/src/jquery-rvnm.css" />

    <style>
        body {
            background: url("/static/login.jpg");
            background-attachment: fixed;
            background-size: cover;
        }
        a{
            margin-left: 10px;
            color: #3c9af3;
            text-decoration: none;
        }
        a:hover{
            color: #7bb8f1;
        }
        h3{
            text-align: center;
        }
        ::-webkit-input-placeholder{
            color:#000000;
        }
    </style>
</head>

<body>


    <div style="background: linear-gradient(to bottom, #f79992, #7bb8f1);
                text-align: center;
                border-radius: 5px;box-shadow: 4px 4px 10px #181818;">
        <h1>欢迎 {{ username }} 使用 接口测试平台</h1>
        <h3>welcome to ApiTestPlatform</h3>
        <!-- 传送门 -->
        <div style="color: rgb(104, 104, 104);
                    margin: 0px 30px;box-shadow: 2px 2px 5px grey;
                    border-radius: 10px 10px 10px 10px;padding-bottom: 10px;padding-top: 0px;">
            <h3>欢迎使用传送门：</h3>
            <strong>
                {% for i in hrefs %}
                    <a href="{{ i.href }}" target="_blank">{{ i.name }}</a>
                {% endfor %}
            </strong>
        </div>
        <div style="color: rgb(104, 104, 104);
                    margin: 20px 30px;box-shadow: 2px 2px 5px grey;
                    border-radius: 10px 10px 10px 10px;padding-bottom: 10px;">
            <h3>您的项目:</h3>
            1. TC API<br>
            2. TCP API
        </div>
        <div style="color: rgb(104, 104, 104);
                    margin: 20px 30px;box-shadow: 2px 2px 5px grey;
                    border-radius: 10px 10px 10px 10px;padding-bottom: 10px;">
            <h3>最新消息:</h3>
            1.第一条 <br>
            2.第二条 <br>
            3.第三条 <br>
        </div>

        <!-- 吐槽 -->
        <div style="margin-top:20px;">
            <textarea id="tucao_input" rows="10" placeholder="匿名吐槽专用，点击 呸 按钮即可怒喷开发者" style="border-radius: 5px;
                        padding-left: 10px;box-shadow: 4px 4px 9px grey;
                        color: #000000;opacity:0.3;width: 95%;"></textarea>
            <br>
            <button onclick="pei()" style="border-radius: 50px 50px 50px 50px; width: 100px;opacity: 0.8;margin: 10px auto 15px auto;">💦呸！</button>
        </div>
    </div>
    

</body>

<script>
    function pei(){
        $.get("/pei/",{
            "tucao_text": document.getElementById('tucao_input').value,
        }, function(ret){
            alert('已经成功吐槽')
        })
    }
</script>

</html>
